@import '~bootswatch/dist/yeti/variables.scss';

$border-radius: 0px !default;
$border-radius-lg: 0px !default;
$border-radius-sm: 0px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
	xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
	xl: 1140px,
	xxl: 1560px
) !default;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootswatch/dist/yeti/bootswatch.scss';
@import '~bootstrap-vue/src/index.scss';

html, body {
	height: 100%;
}

table.table.b-table td {
	vertical-align: middle;
}

.custom-switch .custom-control-label {
	vertical-align: middle;
}
